#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 	0
#define BLUETOOTH 	1
// &kscan0 { debounce-period = <10>;};

/ {
	combos {
	compatible = "zmk,combos";
		combo_bt {
			timeout-ms = <50>;
			key-positions = <84 85>;
			bindings = <&mo BLUETOOTH>;
		};
    };
};
 
/ {	
	keymap {
		compatible = "zmk,keymap";
		
		default_layer {
			bindings = <
	&kp ESC	  			&kp F1	&kp F2	&kp F3	&kp F4	&kp F5	&kp F6	&kp F7	&kp F8	 &kp F9	  &kp F10	  &kp F11	      &kp F12      	&kp PSCRN &kp SLCK &kp PAUSE_BREAK
	&kp GRAVE &kp N1 	&kp N2	&kp N3	&kp N4	&kp N5	&kp N6	&kp N7	&kp N8	&kp N9	 &kp N0	  &kp MINUS   &kp EQUAL	   	  &kp BSPC		&kp INS   &kp HOME &kp PG_UP
	&kp TAB	  &kp Q     &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I   &kp O    &kp P	  &kp LBKT    &kp RBKT  	  &kp BSLH		&kp DEL   &kp END  &kp PG_DN
    &kp CAPS  &kp A     &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K   &kp L    &kp SEMI &kp SQT     &kp NON_US_HASH &kp ENTER
	&kp LSFT  &kp BSLH  &kp Z	&kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &kp CMMA &kp DOT  &kp SLASH   &kp RSFT      				   		  &kp UP
    &kp LCTL  &kp LGUI  &kp LALT                        &kp SPACE               &kp RALT &kp RGUI &kp K_CMENU &kp RCTRL						&kp LEFT  &kp DOWN &kp RIGHT
			>;
		};
		bluetooth_layer {
			bindings = <
	&bootloader				&none	&none	&none	&none	&none	&none	&none	&none	 &none	  &none	  	  &none	      	  &none      	&none 	  &none	   &bt BT_DIS
	&none	  	&bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3	&bt BT_SEL 4	&none	&none	&none	&none	 &none	  &none	  	  &none	      	  &none      	&none 	  &none	   &reset
	&none	  	&none		&none	&none	&none	&none	&none	&none	&none	&none	 &none	  &none	  	  &none	      	  &none      	&none 	  &none	   &BT_CLR
    &none	  	&none		&none	&none	&none	&none	&none	&none	&none	&none	 &none	  &none	  	  &none	      	  &none
	&none	  	&none		&none	&none	&none	&none	&none	&none	&none	&none	 &none	  &none	  	  &none     				   		  	  &none
    &none     	&none       &none                           &none                   &none    &none    &none       &none							&none  	  &none    &none
			>;
		}; 
	};
};
