# BeekQAZ rev1 board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_FEO_EARTH_REV1
	bool "FEO_Earth_rev1 Keyboard"
	depends on SOC_NRF52840_QIAA
